@inject NavigationManager NavigationManager

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <!--
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
        -->
    </NotFound>
</Router>

@code {
    protected override void OnInitialized()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);

        // Parse the query string
        var queryParameters = System.Web.HttpUtility.ParseQueryString(uri.Query);
        var redirectTo = queryParameters["redirect"];

        // Check if the "redirect_to" parameter exists
        if (!string.IsNullOrEmpty(redirectTo))
        {
          NavigationManager.NavigateTo(redirectTo);
        }
    }
}
